<div class="header">
  <div class="header-block">
    <div class="header-block-reserve">Reserve Your Carbogatto</div>
    <div class="header-block-logo"></div>
    <div class="header-block-wrap">
      <div class="header-block-wrap-sound">
        <div class="header-block-wrap-sound-icon"></div>
        <div class="header-block-wrap-sound-title">Sound</div>
      </div>
      <div class="header-block-menu">
        <i class="material-icons header-block-icon">menu</i>
      </div>
    </div>
  </div>
</div>

