<div class="home">
  <div class="home-header">
    <div class="home-header-reserve">Reserve Your Carbogatto</div>
    <div class="home-header-logo"></div>
    <div class="home-header-wrap">
      <div class="home-header-wrap-sound">
        <div class="home-header-wrap-sound-icon"></div>
        <div class="home-header-wrap-sound-title">Sound</div>
      </div>
      <div class="home-header-menu">
        <i class="material-icons home-header-icon">menu</i>
      </div>
    </div>
  </div>
</div>

