<div class="home">
  <div class="home-background">
    <div class="home-background-content">
      <div class="home-background-content-title white">Carbogatto H7</div>
      <div class="home-background-content-subtitle white">Это все о сочетании новейших технологий и материалов с
        ретро-футуристическим дизайном и непревзойденным качеством. Вы чувствуете мощь H7 даже в неподвижном состоянии,
        но его идеальной средой являются улицы города.
      </div>
      <div class="example-button-row">
        <button mat-stroked-button color="primary">Primary</button>
      </div>
    </div>
  </div>
</div>
